streamlit
torch
numpy
opencv-python-headless
easyocr
Pillow
transformers
gTTS
langdetect
streamlit-mic-recorder
SpeechRecognition
pydub
pdfplumber
scikit-learn
pandas
matplotlib
sentencepiece
sacremoses
protobuf